body{
    background-color: rgb(255, 145, 102);
    color:rgb(0, 0, 0)
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
p{ 
    background-color: rgb(240, 185, 185);
    border: blue;
    border-radius:20px;
    text-align: center;
    font-size: 20px;
}
.program{
    text-align: right;
    background-color: rgb(203, 207, 199);
}
.ppp{
    border-radius: 10%;
}
.pp{
    text-decoration: none;
}